<div class="row">
  <div class="col-md-7 banner">
    <h1><span class="text-red">Spanish Holiday Let</span> Book unique homes in Malaga.</h1>
  </div>
</div>

<div><h3>Homes</h3></div>
<br/>

<%# this is the main homepage for guests. do not use shared navbar?%>

<div class="row">
      <% @rooms.each do |room| %>
      <div class="col-md-4">
        <div class="panel panel-default">
            <div class ="panel-heading preview">
                <%= image_tag room.cover_photo(:medium) %>
            </div>
            <div class="panel-body">
            <%= link_to room.listing_name, room %>
        </div>
       </div>
       </div>
       <% end %>
     </div>
